
h2
{ text-align:center; }
p
{ font-family:Arial;font-size:12pt;margin-left:3em;margin-right:4em; }

a
{ padding: 5px;border:1px solid #000;background-color:#6666FF;margin-left:3em;margin-right:4em; }



